In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress

# Bonneville Dam Data Source

http://www.cbr.washington.edu/dart/query/adult_annual_sum

In [3]:
# Read in Bonneville Dam Spring Chinook Counts
bonneville_file = "Resources/Chinook_Bonneville_Counts.csv"

# Grab only the columns we want
bonneville_salmon_df = pd.read_csv(bonneville_file, usecols=["Project","Year","Dates", "Chinook"])

# Make sure we only get 2000 to 2020
bonneville_salmon_df =  bonneville_salmon_df[ 
    (bonneville_salmon_df["Year"] > 1999) & 
    (bonneville_salmon_df["Year"] < 2021)
]

# Clean up data types
bonneville_salmon_df["Year"] = bonneville_salmon_df["Year"].astype('int')
bonneville_salmon_df["Chinook"] = bonneville_salmon_df["Chinook"].astype('int')

bonneville_salmon_df

       Project  Year         Dates  Chinook
62  Bonneville  2000   3/15 - 5/31   178302
63  Bonneville  2001   3/15 - 5/31   391367
64  Bonneville  2002   3/15 - 5/31   268813
65  Bonneville  2003   3/15 - 5/31   192010
66  Bonneville  2004   3/15 - 5/31   170152
67  Bonneville  2005   3/15 - 5/31    74038
68  Bonneville  2006   3/15 - 5/31    96456
69  Bonneville  2007   3/15 - 5/31    66624
70  Bonneville  2008   3/15 - 5/31   125543
71  Bonneville  2009   3/15 - 5/31   114525
72  Bonneville  2010   3/15 - 5/31   244385
73  Bonneville  2011   3/15 - 5/31   167097
74  Bonneville  2012   3/15 - 5/31   158075
75  Bonneville  2013   3/15 - 5/31    83299
76  Bonneville  2014   3/15 - 5/31   188078
77  Bonneville  2015   3/15 - 5/31   220250
78  Bonneville  2016   3/15 - 5/31   137176
79  Bonneville  2017   3/15 - 5/31    83616
80  Bonneville  2018   3/15 - 5/31    87890
81  Bonneville  2019   3/15 - 5/31    54656
82  Bonneville  2020   3/15 - 5/31    55575

## Bonneville Below Data Source

https://waterdata.usgs.gov/nwis/inventory?agency_code=USGS&site_no=14128600

mapper: https://maps.waterdata.usgs.gov/mapper/index.html

In [4]:
#read in gage data for Stevenson
file_name2 = "Resources/Columbia_bonne-below.csv"
Columbia_bonne_below_df = pd.read_csv(file_name2, sep="\t")
Columbia_bonne_below_df

,agency_cd,site_no,datetime,Gage_Max,Status_Gage_Max,Gage_Min,Status_Gage_Min,Gage_Mean,Status_Gage_Mean
0,USGS,14128870,2000-01-01,15.97,A,14.21,A,15.00,A
1,USGS,14128870,2000-01-02,17.87,A,14.33,A,16.33,A
2,USGS,14128870,2000-01-03,19.86,A,15.99,A,17.40,A
3,USGS,14128870,2000-01-04,19.04,A,16.16,A,17.49,A
4,USGS,14128870,2000-01-05,19.24,A,15.70,A,17.02,A
...,...,...,...,...,...,...,...,...,...
7607,USGS,14128870,2020-10-29,12.39,P,10.08,P,10.86,P
7608,USGS,14128870,2020-10-30,10.09,P,7.77,P,8.96,P
7609,USGS,14128870,2020-10-31,9.90,P,7.38,P,8.87,P
7610,USGS,14128870,2020-11-01,12.10,P,9.36,P,11.50,P
7611,USGS,14128870,2020-11-02,12.22,P,11.57,P,11.79,P

In [ ]:
#read in gage data for Stevenson
file_name2 = "Resources/Columbia_bonne-below.csv"
Columbia_bonne_below_df = pd.read_csv(file_name2, sep="\t")
Columbia_bonne_below_df