In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress
import numpy as np

## Bonneville Dam Data Source

http://www.cbr.washington.edu/dart/query/adult_daily

In [2]:
# Create a list of dataframes to concat later
bonneville_salmon_list = []

# Loop through all the files and add them to the list
for i in range(8,21):
    
    # Read in Bonneville Dam Spring Chinook Counts
    bonneville_file = f"Resources/adultdaily_bonneville_20{i:02}.csv"
    
    # Grab only the columns we want
    bonneville_salmon_df = pd.read_csv(bonneville_file, usecols=["Project","Date","Chin"])
    
    # Append the df to the list
    bonneville_salmon_list.append(bonneville_salmon_df)

# Concat the list of dataframes    
combined_bonneville_salmon_df = pd.concat(bonneville_salmon_list)

# Clean up the na's with zero values
combined_bonneville_salmon_df["Chin"] = combined_bonneville_salmon_df["Chin"].fillna(0)

# Clean up data types
combined_bonneville_salmon_df["Chin"] = combined_bonneville_salmon_df["Chin"].astype('int')


combined_bonneville_salmon_df

       Project        Date  Chin
0   Bonneville  2008-03-01     0
1   Bonneville  2008-03-02     0
2   Bonneville  2008-03-03     1
3   Bonneville  2008-03-04     1
4   Bonneville  2008-03-05     0
..         ...         ...   ...
87  Bonneville  2020-05-27  1238
88  Bonneville  2020-05-28  1016
89  Bonneville  2020-05-29  1485
90  Bonneville  2020-05-30  1309
91  Bonneville  2020-05-31  1129

[1196 rows x 3 columns]