In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json
import scipy.stats as st

# Import API key
from api_keys import census_key

# Output File (CSV)
census_2010_to_load = "Resources/census_data_2000_2010.csv"
census_2019_to_load = "Resources/census_data_portland.csv"

# Read census files and store into Pandas
census_2010 = pd.read_csv(census_2010_to_load, encoding="cp1252" )
census_2019 = pd.read_csv(census_2019_to_load)

In [2]:
# Pull specific city from data file
portland = census_2019.loc[census_2019['Geographic Area']=='Portland city, Oregon',:]

# Create dataframe
portland_df = pd.DataFrame(portland)

# Transpose rows and columns
pdx_df = portland_df.T

# Clean up columns and rename
pdx_df.reset_index(inplace=True)
pdx_df = pdx_df.rename(columns={'index':'Year'})
pdx_df = pdx_df[pdx_df['Year']!= "Geographic Area"]
pdx_df.columns.values[1]='Portland'

In [3]:
beaverton = census_2019.loc[census_2019['Geographic Area']=='Beaverton city, Oregon',:]

# Create dataframe
beaverton_df = pd.DataFrame(beaverton)

# Transpose rows and columns
beaverton_df = beaverton_df.T

# Clean up columns and rename
beaverton_df.reset_index(inplace=True)
beaverton_df = beaverton_df.rename(columns={'index':'Year'})
beaverton_df = beaverton_df[beaverton_df['Year']!= "Geographic Area"]
beaverton_df.columns.values[1]='Beaverton'

In [4]:
# Pull specific city from data file
gresham = census_2019.loc[census_2019['Geographic Area']=='Gresham city, Oregon',:]

# Create dataframe
gresham_df = pd.DataFrame(gresham)

# Transpose rows and columns
gresham_df = gresham_df.T

# Clean up columns and rename
gresham_df.reset_index(inplace=True)
gresham_df = gresham_df.rename(columns={'index':'Year'})
gresham_df = gresham_df[gresham_df['Year']!= "Geographic Area"]
gresham_df.columns.values[1]='Gresham'

In [5]:
# Pull specific city from data file
hillsboro = census_2019.loc[census_2019['Geographic Area']=='Hillsboro city, Oregon',:]

# Create dataframe
hillsboro_df = pd.DataFrame(hillsboro)

# Transpose rows and columns
hillsboro_df = hillsboro_df.T

# Clean up columns and rename
hillsboro_df.reset_index(inplace=True)
hillsboro_df = hillsboro_df.rename(columns={'index':'Year'})
hillsboro_df = hillsboro_df[hillsboro_df['Year']!= "Geographic Area"]
hillsboro_df.columns.values[1]='Hillsboro'

In [6]:
# Pull specific city from data file
oswego = census_2019.loc[census_2019['Geographic Area']=='Lake Oswego city, Oregon',:]

# Create dataframe
oswego_df = pd.DataFrame(oswego)

# Transpose rows and columns
oswego_df = oswego_df.T

# Clean up columns and rename
oswego_df.reset_index(inplace=True)
oswego_df = oswego_df.rename(columns={'index':'Year'})
oswego_df = oswego_df[oswego_df['Year']!= "Geographic Area"]
oswego_df.columns.values[1]='Lake Oswego'

In [7]:
# Pull specific city from data file
tigard = census_2019.loc[census_2019['Geographic Area']=='Tigard city, Oregon',:]

# Create dataframe
tigard_df = pd.DataFrame(tigard)

# Transpose rows and columns
tigard_df = tigard_df.T

# Clean up columns and rename
tigard_df.reset_index(inplace=True)
tigard_df = tigard_df.rename(columns={'index':'Year'})
tigard_df = tigard_df[tigard_df['Year']!= "Geographic Area"]
tigard_df.columns.values[1]='Tigard'

In [9]:
# Merge dataframes into a single dataframe 
cities_census = pd.merge(pdx_df, gresham_df, on=["Year"])
cities_census = pd.merge(cities_census, hillsboro_df, on=["Year"])
cities_census = pd.merge(cities_census, beaverton_df, on=["Year"])
cities_census = pd.merge(cities_census, tigard_df, on=["Year"])
cities_census = pd.merge(cities_census, oswego_df, on=["Year"])
cities_census

   Year Portland  Gresham Hillsboro Beaverton  Tigard Lake Oswego
0  2010  585,429  106,008    92,559    90,100  48,326      36,813
1  2011  595,451  107,720    94,274    91,569  49,244      37,049
2  2012  604,264  108,779    96,343    92,558  49,818      37,284
3  2013  609,890  109,221    98,160    93,279  50,361      37,475
4  2014  620,510  110,029    99,827    94,714  50,674      37,842
5  2015  631,366  110,378   102,550    95,863  51,060      38,282
6  2016  642,720  111,762   105,374    97,738  51,978      38,699
7  2017  647,924  111,243   107,433    97,824  53,373      39,280
8  2018  650,837  109,808   108,201    98,775  54,652      39,524
9  2019  654,741  109,381   109,128    99,037  55,514      39,822

In [10]:
portland2 = census_2010.loc[(census_2010['NAME']=='Portland city') & (census_2010['STNAME']=='Oregon')]
# Create dataframe
portland2_df = pd.DataFrame(portland2)

# Transpose rows and columns
pdx2_df = portland2_df.T
pdx2_df.reset_index(inplace=True)

# Rename columns
pdx2_df = pdx2_df.rename(columns={'index':'Year'})
pdx2_df.columns.values[1]='Portland'

# Drop unneeded rows
pdx2_df = pdx2_df[pdx2_df['Year']!= "NAME"] 
pdx2_df = pdx2_df[pdx2_df['Year']!= "STNAME"] 
pdx2_df = pdx2_df[pdx2_df['Year']!= "CENSUS2010POP"]

# Rename rows
pdx2_df['Year']=pdx2_df['Year'].apply(lambda x: x.replace('POPESTIMATE',''))

In [20]:
beaverton2 = census_2010.loc[(census_2010['NAME']=='Beaverton city') & (census_2010['STNAME']=='Oregon')]
# Create dataframe
beaverton2_df = pd.DataFrame(beaverton2)

# Transpose rows and columns
beaverton2_df = beaverton2_df.T
beaverton2_df.reset_index(inplace=True)

# Rename columns
beaverton2_df = beaverton2_df.rename(columns={'index':'Year'})
beaverton2_df.columns.values[1]='Beaverton'

# Drop unneeded rows
beaverton2_df = beaverton2_df[beaverton2_df['Year']!= "NAME"] 
beaverton2_df = beaverton2_df[beaverton2_df['Year']!= "STNAME"] 
beaverton2_df = beaverton2_df[beaverton2_df['Year']!= "CENSUS2010POP"]

# Rename rows
beaverton2_df['Year']=beaverton2_df['Year'].apply(lambda x: x.replace('POPESTIMATE',''))

In [21]:
gresham2 = census_2010.loc[(census_2010['NAME']=='Gresham city') & (census_2010['STNAME']=='Oregon')]
# Create dataframe
gresham2_df = pd.DataFrame(gresham2)

# Transpose rows and columns
gresham2_df = gresham2_df.T
gresham2_df.reset_index(inplace=True)

# Rename columns
gresham2_df = gresham2_df.rename(columns={'index':'Year'})
gresham2_df.columns.values[1]='Gresham'

# Drop unneeded rows
gresham2_df = gresham2_df[gresham2_df['Year']!= "NAME"] 
gresham2_df = gresham2_df[gresham2_df['Year']!= "STNAME"] 
gresham2_df = gresham2_df[gresham2_df['Year']!= "CENSUS2010POP"]

# Rename rows
gresham2_df['Year']=gresham2_df['Year'].apply(lambda x: x.replace('POPESTIMATE',''))

In [22]:
hillsboro2 = census_2010.loc[(census_2010['NAME']=='Hillsboro city') & (census_2010['STNAME']=='Oregon')]
# Create dataframe
hillsboro2_df = pd.DataFrame(hillsboro2)

# Transpose rows and columns
hillsboro2_df = hillsboro2_df.T
hillsboro2_df.reset_index(inplace=True)

# Rename columns
hillsboro2_df = hillsboro2_df.rename(columns={'index':'Year'})
hillsboro2_df.columns.values[1]='Hillsboro'

# Drop unneeded rows
hillsboro2_df = hillsboro2_df[hillsboro2_df['Year']!= "NAME"] 
hillsboro2_df = hillsboro2_df[hillsboro2_df['Year']!= "STNAME"] 
hillsboro2_df = hillsboro2_df[hillsboro2_df['Year']!= "CENSUS2010POP"]

# Rename rows
hillsboro2_df['Year']=hillsboro2_df['Year'].apply(lambda x: x.replace('POPESTIMATE',''))

In [69]:
tigard2 = census_2010.loc[(census_2010['NAME']=='Tigard city') & (census_2010['STNAME']=='Oregon')]
# Create dataframe
tigard2_df = pd.DataFrame(tigard2)

# Transpose rows and columns
tigard2_df = tigard2_df.T
tigard2_df.reset_index(inplace=True)

# Rename columns
tigard2_df = tigard2_df.rename(columns={'index':'Year'})
tigard2_df.columns.values[1]='Tigard'

# Drop unneeded rows
tigard2_df = tigard2_df[tigard2_df['Year']!= "NAME"]
tigard2_df = tigard2_df[tigard2_df['Year']!= "STNAME"] 
tigard2_df = tigard2_df[tigard2_df['Year']!= "CENSUS2010POP"]

# Rename rows
tigard2_df['Year']=tigard2_df['Year'].apply(lambda x: x.replace('POPESTIMATE',''))

In [77]:
oswego2 = census_2010.loc[(census_2010['NAME']=='Lake Oswego city') & (census_2010['STNAME']=='Oregon')]
# Create dataframe
oswego2_df = pd.DataFrame(oswego2)

# Transpose rows and columns
oswego2_df = oswego2_df.T
oswego2_df.reset_index(inplace=True)

# Rename columns
oswego2_df = oswego2_df.rename(columns={'index':'Year'})
oswego2_df.columns.values[1]='Lake Oswego'

# Drop unneeded rows
oswego2_df = oswego2_df[oswego2_df['Year']!= "NAME"]
oswego2_df = oswego2_df[oswego2_df['Year']!= "STNAME"] 
oswego2_df = oswego2_df[oswego2_df['Year']!= "CENSUS2010POP"]

# Rename rows
oswego2_df['Year']=oswego2_df['Year'].apply(lambda x: x.replace('POPESTIMATE',''))

In [78]:
# Merge dataframes into a single dataframe 
cities_census2 = pd.merge(pdx2_df, gresham2_df, on=["Year"])
cities_census2 = pd.merge(cities_census2, hillsboro2_df, on=["Year"])
cities_census2 = pd.merge(cities_census2, beaverton2_df, on=["Year"])
cities_census2 = pd.merge(cities_census2, tigard2_df, on=["Year"])
cities_census2 = pd.merge(cities_census2, oswego2_df, on=["Year"])

In [79]:
cities_census2.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
# Drop repeated year
cities_census2 = cities_census2.drop([cities_census2.index[10]])

In [82]:
census_frames = [cities_census2,cities_census]
complete_census_df = pd.concat(census_frames)
complete_census_df= complete_census_df.reset_index(drop=True)
complete_census_df

    Year Portland  Gresham Hillsboro Beaverton  Tigard Lake Oswego
0   2000   529845    90474     70888     78327   42750       35683
1   2001   535755    92102     73693     80245   43697       35827
2   2002   540833    93558     75754     81342   44192       36078
3   2003   542496    94427     77463     82067   44488       36089
4   2004   536636    93942     79178     82810   44795       36130
5   2005   538053    94739     81666     84362   45539       36187
6   2006   544669    96471     84307     86066   46365       36330
7   2007   555306    98946     86139     86939   46743       36405
8   2008   566850   101597     88029     87873   47153       36577
9   2009   578104   104146     90239     89136   47744       36624
10  2010  585,429  106,008    92,559    90,100  48,326      36,813
11  2011  595,451  107,720    94,274    91,569  49,244      37,049
12  2012  604,264  108,779    96,343    92,558  49,818      37,284
13  2013  609,890  109,221    98,160    93,279  50,361      37,475
14  2014  620,510  110,029    99,827    94,714  50,674      37,842
15  2015  631,366  110,378   102,550    95,863  51,060      38,282
16  2016  642,720  111,762   105,374    97,738  51,978      38,699
17  2017  647,924  111,243   107,433    97,824  53,373      39,280
18  2018  650,837  109,808   108,201    98,775  54,652      39,524
19  2019  654,741  109,381   109,128    99,037  55,514      39,822

   Year Portland  Gresham Hillsboro Beaverton  Tigard Lake Oswego
0  2000   529845    90474     70888     78327   42750       35683
1  2001   535755    92102     73693     80245   43697       35827
2  2002   540833    93558     75754     81342   44192       36078
3  2003   542496    94427     77463     82067   44488       36089
4  2004   536636    93942     79178     82810   44795       36130
5  2005   538053    94739     81666     84362   45539       36187
6  2006   544669    96471     84307     86066   46365       36330
7  2007   555306    98946     86139     86939   46743       36405
8  2008   566850   101597     88029     87873   47153       36577
9  2009   578104   104146     90239     89136   47744       36624
0  2010  585,429  106,008    92,559    90,100  48,326      36,813
1  2011  595,451  107,720    94,274    91,569  49,244      37,049
2  2012  604,264  108,779    96,343    92,558  49,818      37,284
3  2013  609,890  109,221    98,160    93,279  50,361      37,475
4  2014  620,510  110,029    99,827    94,714  50,674      37,842
5  2015  631,366  110,378   102,550    95,863  51,060      38,282
6  2016  642,720  111,762   105,374    97,738  51,978      38,699
7  2017  647,924  111,243   107,433    97,824  53,373      39,280
8  2018  650,837  109,808   108,201    98,775  54,652      39,524
9  2019  654,741  109,381   109,128    99,037  55,514      39,822

In [ ]:
# IMAGES###
# Line? plot of population over time
# Scatter plot of population over time vs salmon count over time (compare against all rivers where annual data was collected)
# Linear regression for these scatter plots
# Analysis over what the data shows

In [ ]:
# dfObj[(dfObj['Sale'] > 30) & (dfObj['Sale'] < 33) ]
# Pull specific city from data file
# portland = census_2010[census_2010['NAME']=='Portland city',:]
# portland = [(census_2010['NAME']=='Portland city') & (census_2010['STNAME']=='Oregon')]

# # Create dataframe
# portland_df = pd.DataFrame(portland)

# # Transpose rows and columns
# clean_pdx_df = portland_df.T

# # Clean up columns and rename
# clean_pdx_df.reset_index(inplace=True)
# clean_pdx_df = clean_pdx_df.rename(columns={'index':'Year'})
# clean_pdx_df = clean_pdx_df[clean_pdx_df['Year']!= "Geographic Area"]
# clean_pdx_df.columns.values[1]='Portland'

In [ ]:
# complete_census_df.style.hide_index()
# complete_census_df.reset_index()
# complete_census_df

In [ ]:
# df.loc[0,'column_name']

# Need to pull specific rows (of the cities we want) from each data set
    ## Turn df around, so that current rows are the colums, columns are the rows
#Rename 'Unnamed' to the appropriate years

# Once needed rows are pulled and data cleaned up from both data set, merge the data into one dataframe