In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json
import scipy.stats as st

# Import API key
from api_keys import census_key

# Output File (CSV)
census_2010_to_load = "Resources/census_data_2000_2010.csv"
census_2019_to_load = "Resources/census_data_portland.csv"

# Read census files and store into Pandas
census_2010 = pd.read_csv(census_2010_to_load, encoding="cp1252" )
census_2019 = pd.read_csv(census_2019_to_load)

In [17]:
portland = census_2019.loc[168, :]

portland_df = pd.DataFrame(portland)
portland_df



# Need to pull specific rows (of the cities we want) from each data set
    ## Turn df around, so that current rows are the colums, columns are the rows
#Rename 'Unnamed' to the appropriate years

# Once needed rows are pulled and data cleaned up from both data set, merge the data into one dataframe





# df.loc[0,'column_name']

                                                                      168
table with row headers in column A and column h...  Portland city, Oregon
Unnamed: 1                                                        583,776
Unnamed: 2                                                        583,793
Unnamed: 3                                                        585,429
Unnamed: 4                                                        595,451
Unnamed: 5                                                        604,264
Unnamed: 6                                                        609,890
Unnamed: 7                                                        620,510
Unnamed: 8                                                        631,366
Unnamed: 9                                                        642,720
Unnamed: 10                                                       647,924
Unnamed: 11                                                       650,837
Unnamed: 12                                                       654,741

In [ ]:
# Combine the data into a single dataset.  
census_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete