In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json
import scipy.stats as st

# Import API key
from api_keys import census_key

# Output File (CSV)
census_2010_to_load = "Resources/census_data_2000_2010.csv"
census_2019_to_load = "Resources/census_data_portland.csv"

# Read census files and store into Pandas
census_2010 = pd.read_csv(census_2010_to_load, encoding="cp1252" )
census_2019 = pd.read_csv(census_2019_to_load)

In [2]:
# Pull specific city from data file
portland = census_2019.loc[census_2019['Geographic Area']=='Portland city, Oregon',:]

# Create dataframe
portland_df = pd.DataFrame(portland)

# Transpose rows and columns
clean_pdx_df = portland_df.T

# Clean up columns and rename
clean_pdx_df.reset_index(inplace=True)
clean_pdx_df = clean_pdx_df.rename(columns={'index':'Year'})
clean_pdx_df = clean_pdx_df[clean_pdx_df['Year']!= "Geographic Area"]
clean_pdx_df.columns.values[1]='Portland'

In [3]:
beaverton = census_2019.loc[census_2019['Geographic Area']=='Beaverton city, Oregon',:]

# Create dataframe
beaverton_df = pd.DataFrame(beaverton)

# Transpose rows and columns
clean_bvtn_df = beaverton_df.T

# Clean up columns and rename
clean_bvtn_df.reset_index(inplace=True)
clean_bvtn_df = clean_bvtn_df.rename(columns={'index':'Year'})
clean_bvtn_df = clean_bvtn_df[clean_bvtn_df['Year']!= "Geographic Area"]
clean_bvtn_df.columns.values[1]='Beaverton'

In [4]:
# Pull specific city from data file
gresham = census_2019.loc[census_2019['Geographic Area']=='Gresham city, Oregon',:]

# Create dataframe
gresham_df = pd.DataFrame(gresham)

# Transpose rows and columns
clean_gresham_df = gresham_df.T

# Clean up columns and rename
clean_gresham_df.reset_index(inplace=True)
clean_gresham_df = clean_gresham_df.rename(columns={'index':'Year'})
clean_gresham_df = clean_gresham_df[clean_gresham_df['Year']!= "Geographic Area"]
clean_gresham_df.columns.values[1]='Gresham'

In [5]:
# Pull specific city from data file
hillsboro = census_2019.loc[census_2019['Geographic Area']=='Hillsboro city, Oregon',:]

# Create dataframe
hillsboro_df = pd.DataFrame(hillsboro)

# Transpose rows and columns
clean_hillsboro_df = hillsboro_df.T

# Clean up columns and rename
clean_hillsboro_df.reset_index(inplace=True)
clean_hillsboro_df = clean_hillsboro_df.rename(columns={'index':'Year'})
clean_hillsboro_df = clean_hillsboro_df[clean_hillsboro_df['Year']!= "Geographic Area"]
clean_hillsboro_df.columns.values[1]='Hillsboro'

In [6]:
# Pull specific city from data file
oswego = census_2019.loc[census_2019['Geographic Area']=='Lake Oswego city, Oregon',:]

# Create dataframe
oswego_df = pd.DataFrame(oswego)

# Transpose rows and columns
clean_oswego_df = oswego_df.T

# Clean up columns and rename
clean_oswego_df.reset_index(inplace=True)
clean_oswego_df = clean_oswego_df.rename(columns={'index':'Year'})
clean_oswego_df = clean_oswego_df[clean_oswego_df['Year']!= "Geographic Area"]
clean_oswego_df.columns.values[1]='Lake Oswego'

In [7]:
# Pull specific city from data file
tigard = census_2019.loc[census_2019['Geographic Area']=='Tigard city, Oregon',:]

# Create dataframe
tigard_df = pd.DataFrame(tigard)

# Transpose rows and columns
clean_tigard_df = tigard_df.T

# Clean up columns and rename
clean_tigard_df.reset_index(inplace=True)
clean_tigard_df = clean_tigard_df.rename(columns={'index':'Year'})
clean_tigard_df = clean_tigard_df[clean_tigard_df['Year']!= "Geographic Area"]
clean_tigard_df.columns.values[1]='Tigard'

In [8]:

# frames = [clean_pdx_df, clean_bvtn_df, clean_gresham_df, clean_hillsboro_df,
#           clean_oswego_df, clean_tigard_df]
# frames

# # result = pd.concat(frames)

In [9]:
# Merge dataframes into a single dataframe 
cities_census = pd.merge(clean_pdx_df, clean_tigard_df, on=["Year"])
cities_census = pd.merge(cities_census, clean_gresham_df, on=["Year"])
cities_census = pd.merge(cities_census, clean_hillsboro_df, on=["Year"])
cities_census = pd.merge(cities_census, clean_oswego_df, on=["Year"])
cities_census = pd.merge(cities_census, clean_bvtn_df, on=["Year"])
cities_census

   Year Portland  Tigard  Gresham Hillsboro Lake Oswego Beaverton
0  2010  585,429  48,326  106,008    92,559      36,813    90,100
1  2011  595,451  49,244  107,720    94,274      37,049    91,569
2  2012  604,264  49,818  108,779    96,343      37,284    92,558
3  2013  609,890  50,361  109,221    98,160      37,475    93,279
4  2014  620,510  50,674  110,029    99,827      37,842    94,714
5  2015  631,366  51,060  110,378   102,550      38,282    95,863
6  2016  642,720  51,978  111,762   105,374      38,699    97,738
7  2017  647,924  53,373  111,243   107,433      39,280    97,824
8  2018  650,837  54,652  109,808   108,201      39,524    98,775
9  2019  654,741  55,514  109,381   109,128      39,822    99,037

In [18]:
portland2 = census_2010.loc[(census_2010['NAME']=='Portland city') & (census_2010['STNAME']=='Oregon')]
# Create dataframe
portland2_df = pd.DataFrame(portland2)

# Transpose rows and columns
pdx2_df = portland2_df.T
pdx2_df

                           61293
SUMLEV                       162
STATE                         41
COUNTY                         0
PLACE                      59000
COUSUB                         0
NAME               Portland city
STNAME                    Oregon
ESTIMATESBASE2000         529122
POPESTIMATE2000           529845
POPESTIMATE2001           535755
POPESTIMATE2002           540833
POPESTIMATE2003           542496
POPESTIMATE2004           536636
POPESTIMATE2005           538053
POPESTIMATE2006           544669
POPESTIMATE2007           555306
POPESTIMATE2008           566850
POPESTIMATE2009           578104
CENSUS2010POP             583776
POPESTIMATE2010           585807

In [11]:
beaverton = census_2010.loc[(census_2010['NAME']=='Beaverton city') & (census_2010['STNAME']=='Oregon')]
beaverton

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,NAME,STNAME,ESTIMATESBASE2000,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2010
61144,162,41,0,5350,0,Beaverton city,Oregon,77923,78327,80245,81342,82067,82810,84362,86066,86939,87873,89136,89803,90149

In [12]:
gresham = census_2010.loc[(census_2010['NAME']=='Gresham city') & (census_2010['STNAME']=='Oregon')]
gresham

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,NAME,STNAME,ESTIMATESBASE2000,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2010
61209,162,41,0,31250,0,Gresham city,Oregon,90205,90474,92102,93558,94427,93942,94739,96471,98946,101597,104146,105594,105967

In [13]:
hillsboro = census_2010.loc[(census_2010['NAME']=='Hillsboro city') & (census_2010['STNAME']=='Oregon')]
hillsboro

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,NAME,STNAME,ESTIMATESBASE2000,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2010
61218,162,41,0,34100,0,Hillsboro city,Oregon,70259,70888,73693,75754,77463,79178,81666,84307,86139,88029,90239,91611,91961

In [16]:
tigard = census_2010.loc[(census_2010['NAME']=='Tigard city') & (census_2010['STNAME']=='Oregon')]
tigard

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,NAME,STNAME,ESTIMATESBASE2000,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2010
61338,162,41,0,73650,0,Tigard city,Oregon,42553,42750,43697,44192,44488,44795,45539,46365,46743,47153,47744,48035,48220

In [17]:
oswego = census_2010.loc[(census_2010['NAME']=='Lake Oswego city') & (census_2010['STNAME']=='Oregon')]
oswego

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,NAME,STNAME,ESTIMATESBASE2000,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2010
61241,162,41,0,40550,0,Lake Oswego city,Oregon,35673,35683,35827,36078,36089,36130,36187,36330,36405,36577,36624,36619,36710

In [14]:
# dfObj[(dfObj['Sale'] > 30) & (dfObj['Sale'] < 33) ]
# Pull specific city from data file
# portland = census_2010[census_2010['NAME']=='Portland city',:]
# portland = [(census_2010['NAME']=='Portland city') & (census_2010['STNAME']=='Oregon')]

# # Create dataframe
# portland_df = pd.DataFrame(portland)

# # Transpose rows and columns
# clean_pdx_df = portland_df.T

# # Clean up columns and rename
# clean_pdx_df.reset_index(inplace=True)
# clean_pdx_df = clean_pdx_df.rename(columns={'index':'Year'})
# clean_pdx_df = clean_pdx_df[clean_pdx_df['Year']!= "Geographic Area"]
# clean_pdx_df.columns.values[1]='Portland'

In [15]:
# df.loc[0,'column_name']

# Need to pull specific rows (of the cities we want) from each data set
    ## Turn df around, so that current rows are the colums, columns are the rows
#Rename 'Unnamed' to the appropriate years

# Once needed rows are pulled and data cleaned up from both data set, merge the data into one dataframe